#contenedor {
}
#cabecera {
}
#menu {
  float: left;
  width: 15%;
}
#contenido {
  float: left;
  width: 85%;
}
#contenido #principal {
  float: left;
  width: 80%;
}
#contenido #secundario {
  float: left;
  width: 20%;
}

#pie {
  clear: both;
}

<body>
<div id="contenedor">
  <div id="cabecera">
  </div>

  <div id="menu">
  </div>

  <div id="contenido">
    <div id="principal">
    </div>

    <div id="secundario">
    </div>
  </div>

  <div id="pie">
  </div>
</div>
</body>











#menu{
  width: 24%;
  float: left;
}
#contenido{
  width: 50%;
  float: left;
}

#extra{
  width: 24%;
  float: left;
  background-color: #E6DBC8;
  border: 4px dotted #1C80FF;
  border-radius: 20px;
  margin: 5px;
}

#extra img{
  display: block;
  width: 200%;
}


